<?xml version="1.0"?>
<SystemSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <StaticFileVersionNumber>2</StaticFileVersionNumber>
  <CDNServer>/</CDNServer>
  <CaptchaCode>false</CaptchaCode>

  <!-- Upload setting Star-->
  <FileUpLoadTempFolder>/Upload/_temp</FileUpLoadTempFolder>
  <FileUpLoadIcon>/Upload/Icon</FileUpLoadIcon>
  <FileUpLoadTeamLogo>/Upload/TeamLogo</FileUpLoadTeamLogo>
  <FileUpLoadBest>/Upload/Best</FileUpLoadBest>
  <FileUpLoadBestGAP>/Upload/BestGAP</FileUpLoadBestGAP>
  <FileUpLoadResult>/Upload/Result</FileUpLoadResult>
  <FileUpLoadScenario>/Upload/Scenario</FileUpLoadScenario>
  <FileUploadAnalytics>/Upload/Analytics</FileUploadAnalytics>
  <!-- Upload setting End-->

</SystemSetting>